openapi: "3.0.1"
info:
  title: Interviews, Questionnaire, Tests, Quests
  description: |
    Covers range of test related tasks
    possible content types: 'text', 'image', 'html'
    possible response types: 'single option', 'multiple options', 'text input'
  contact:
    name: API Support
    email: dmitrym.dev@websm.io
  version: 1.0.0

components:
  securitySchemes:
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JSON Web Token payload format: { role: \"admin\", user: \"bright-ege\" }"

servers:
  - url: https://api.quiz.websm.io/{version}
    description: production server
    variables:
      version:
        description: api version
        default: v1
  - url: https://api.quiz.websm.io/{version}
    description: development server
    variables:
      version:
        description: api version
        default: v1

paths:
  /users/{user}/quizzes:
    $ref: 'components/paths/quizzes.yaml'
  /users/{user}/quizzes/{quizId}:
    $ref: 'components/paths/quiz.yaml'
  /users/{user}/quizzes/{quizId}/tags:
    $ref: 'components/paths/quiz-tags.yaml'
  /users/{user}/quizzes/{quizId}/tags/{tag}:
    $ref: 'components/paths/quiz-tag.yaml'
  /users/{user}/quizzes/{quizId}/questions:
    $ref: 'components/paths/questions.yaml'
  /users/{user}/quizzes/{quizId}/questions/{questionId}:
    $ref: 'components/paths/question.yaml'
  # full statistics ?
  # /users/{user}/quizzes/{quizId}/statistics:
  /users/{user}/quizzes/{quizId}/questions/{questionId}/statistics:
    $ref: 'components/paths/question-statistics.yaml'
  /users/{user}/quizzes/{quizId}/questions/{questionId}/tags:
    $ref: 'components/paths/question-tags.yaml'
  /users/{user}/quizzes/{quizId}/questions/{questionId}/tags/{tag}:
    $ref: 'components/paths/question-tag.yaml'
  # /users/{user}/quizzes/{quizId}/responses:
  #   $ref: 'components/paths/responses.yaml'
  # /users/{user}/quizzes/{quizId}/responses/{responseId}:
  #   $ref: 'components/paths/response.yaml'
  # /users/{user}/quizzes/{quizId}/instances:
  #   $ref: 'components/paths/quiz-instances.yaml'
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}:
  #   $ref: 'components/paths/quiz-instance.yaml'
  # for stateless service
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}/questions:
  #   $ref: 'components/paths/quiz-instance-questions.yaml'
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}/responses:
  #   $ref: 'components/paths/quiz-instance-responses.yaml'
