openapi: "3.0.1"
info:
  title: Interviews (probably Questionnaire, Tests, Quests)
  description: |
    Covers range of test related tasks
    possible content types: 'text', 'image', 'html'
    possible response types: 'single option', 'multiple options', 'text input'
  contact:
    name: API Support
    email: dmitrym.dev@websm.io
  version: 1.0.0

components:
  securitySchemes:
    jwtApiAdmin:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JSON Web Token payload format: { role: \"api-admin\" }"
    jwtAdmin:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JSON Web Token payload format: { role: \"admin\", user: \"bright-ege\" }"

servers:
  - url: https://quizzes.websm.io/api/{version}
    description: production server
    variables:
      version:
        description: api version
        default: v1
  - url: https://quizzes.websm.io/api/{version}
    description: development server
    variables:
      version:
        description: api version
        default: v1

paths:
  /users:
    $ref: 'components/paths/users.yml'
  /users/{user}:
    $ref: 'components/paths/user.yml'
  /users/{user}/quizzes:
    $ref: 'components/paths/quizzes.yml'
  /users/{user}/quizzes/{quizId}:
    $ref: 'components/paths/quiz.yml'
  /users/{user}/quizzes/{quizId}/tags:
    $ref: 'components/paths/quiz-tags.yml'
  # /users/{user}/quizzes/{quizId}/tags/{tag}:
  #   $ref: 'components/paths/quiz-tag.yml'
  # /users/{user}/quizzes/{quizId}/questions:
  #   $ref: 'components/paths/questions.yml'
  # /users/{user}/quizzes/{quizId}/questions/{questionId}:
  #   $ref: 'components/paths/question.yml'
  # full statistics ?
  # /users/{user}/quizzes/{quizId}/statistics:
  # /users/{user}/quizzes/{quizId}/questions/{questionId}/statistics:
  #   $ref: 'components/paths/question-statistics.yml'
  # /users/{user}/quizzes/{quizId}/questions/{questionId}/tags:
  #   $ref: 'components/paths/question-tags.yml'
  # /users/{user}/quizzes/{quizId}/questions/{questionId}/tags/{tag}:
  #   $ref: 'components/paths/question-tag.yml'
  # /users/{user}/quizzes/{quizId}/responses:
  #   $ref: 'components/paths/responses.yml'
  # /users/{user}/quizzes/{quizId}/responses/{responseId}:
  #   $ref: 'components/paths/response.yml'
  # /users/{user}/quizzes/{quizId}/instances:
  #   $ref: 'components/paths/quiz-instances.yml'
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}:
  #   $ref: 'components/paths/quiz-instance.yml'
  # for stateless service
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}/questions:
  #   $ref: 'components/paths/quiz-instance-questions.yml'
  # /users/{user}/quizzes/{quizId}/instances/{instanceId}/responses:
  #   $ref: 'components/paths/quiz-instance-responses.yml'
